<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProfile name="default,prod">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
    <logger level="WARN" name="org.springframework"/>
    <logger level="ERROR" name="org.hibernate"/>
  </springProfile>
</configuration>
